html,
body {
  width: 300px;
  min-height: 110px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background: none !important;
  border: none !important;
  /* background: hsl(var(--muted)); */
  color: hsl(var(--foreground));
}

#__root {
  width: 100%;
  min-height: 110px;
}
